.mainContainer {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-card {
  width: 90%;
  min-width: 400px;
  max-width: 600px;
}
